.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0 15px 0;
  width: 300px;
  border: 2px solid rgb(148, 0, 211);
  background-color: #e6e6fa;
  padding-top: 15px;
  border-radius: 10px;
}
.row {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.text {
  color: #9400d3;
  font-weight: 600;
  text-align: left;
  background-color: #e6e6fa;
}
.btn {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(193, 189, 189);
  color: #9400d3;
  border-color: #fdf5e6;
  box-shadow: 2px 2px 2px #800000;
}
.input {
  border: 1px solid #9400d3;
  border-radius: 4px;
  background-color: #e6e6fa;
  height: 30px;
  width: 305px;
  color: #9400d3;
  font-size: 16px;
  padding-left: 6px;
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.error {
  color: #800000;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(221, 160, 221);
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(221, 160, 221);
}
