.title {
  color: #e6e6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px rgba(221, 160, 221), 0 0 20px rgba(255, 182, 193),
    0 0 30px rgba(255, 228, 196);
  animation: glow 2s infinite alternate;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      to bottom,
      rgba(221, 160, 221),
      rgba(221, 160, 221)
    ),
    url("../../assets/telephone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 20px);
  width: calc(100vh + 140px);
}
